<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1> Enter new employee information </h1>
</head>
<body>
<form action="/Kars4U_components/addemployee/" method="post">
    {% csrf_token %}
    Name = <input id = "Name", type = "text", name = "Name">
    <br>
    <label for="Store_id">Store ID= </label>
    <select name="Store_id" id="Store_id">
        {% for store in Stores %}
            <option value="{{ store.store_id }}">{{ store.name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type = "submit" value = "Enter">
</form>
<button><a href="/Kars4U_components/viewEmployees/">View Employees</a></button>
<button><a href="/Kars4U_components/manageEmployees/">Manage Employees</a></button>
</body>
</html>