<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1> Employees Clock In/Out </h1>
</head>
<body>
<form action="/Kars4U_components/employeeWorking/" method="post">
    {% csrf_token %}
    <label for="employee_id"> Employee ID, Name = </label>
    <select name="employee_id" id="employee_id">
        {% for employee in employees %}
            <option value="{{ employee.employee_id }}">{{ employee.employee_id }}, {{ employee.name }}</option>
        {% endfor %}
    </select>
    <br>
    Clock In <input type = "checkbox", name = "Clock In">
    <br>
    Clock Out <input type = "checkbox", name = "Clock Out">
    <br>
    <input type = "submit" value = "Enter">
</form>
<button><a href="/Kars4U_components/viewEmployees/">View Employees</a></button>
<button><a href="/Kars4U_components/manageEmployees/">Manage Employees</a></button>
</body>
</html>