<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> View Amount of Employees per Store </h1>
</head>
<body>
<div class="submain">
<table style="width:30%">
  <tr>
    <th>Store ID</th>
    <th>Store Name</th>
    <th>Total Employees</th>
  </tr>
{% for s in stores %}
  <tr>
    <td>{{ s.0}}</td>
    <td>{{ s.1}}</td>
    <td>{{ s.2}}</td>
  </tr>
{% endfor %}
</table>
</div>
</body>
</html>