<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1> Options to Manage Employee </h1>
</head>
<body>
<button style="height:30px;width:100px"><a href="/Kars4U_components/viewEmployees/">View Employees</a></button>
<br>
<br>
<button style="height:30px;width:100px"><a href="/Kars4U_components/addemployee/">Add Employee</a></button>
<br>
<br>
<button style="height:30px;width:100px"><a href="/Kars4U_components/fireemployee/">Fire Employee</a></button>
<br>
<br>
<button style="height:30px;width:100px"><a href="/Kars4U_components/employeeWorking/">Employee Clock In/Out</a></button>
<br>
<br>
<button style="height:30px;width:100px"><a href="/Kars4U_components/EmployeesPerStore/">Employees Per Store</a></button>
</body>
</html>