<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory of Store</title>
</head>
<body>
<form action="/Kars4U_components/storeInventoryReport" method="post">
    {% csrf_token %}
    <h1 Inventory for Store></h1>
    <p>Store Inventory Report</p>
    <table style="width:30%">
        <tr>
            <th>Store Name</th>
            <th>Store Location</th>
            <th>Car Count</th>
        </tr>
    {% for s in stores %}

        <tr>
            <td>{{s.1}}</td>
            <td>{{s.2}}</td>
            <td>{{s.3}}</td>
        </tr>

    {% endfor %}
    </table>
</form>

</body>
</html>